/* @todo: I implemented this CSS rule to darken the logo on a light background.
* On scroll
*/
.color-scheme-flip-on-scroll.navbar-light .navbar-brand img {
	filter: brightness(20%);
}

/* @todo: This CSS rule can be deprecated when border control is implemented
* Set border color for form inputs 
*/
.form-select,
.form-control:not(.submit) {
	border-color: #e6e5e8 !important;
}

/* 
* @todo: This CSS rule can be deprecated when more accordian controls are implemented
*/
div.accordion {
	--bs-accordion-bg: transparent;
	--bs-accordion-btn-padding-y: 1.2rem;
	--bs-accordion-border-width: 2px;
	--bs-accordion-border-radius: .5rem;
	--bs-accordion-active-color: inherit;
}

button.accordion-button {
	font-size: 1.1rem;
}


/* 
* Style latest posts widgets
*/
.wp-block-latest-posts__featured-image img {
	border-radius: 10px;
}

.wp-block-latest-posts.wp-block-latest-posts__list li {
	margin-bottom: 20px;
	overflow: auto;
}
