<!-- wp:template-part {"slug":"header-transparent"} /-->
<!-- wp:pattern {"slug":"classified-ads-listings/hero-home-default"} /-->
<!-- wp:pattern {"slug":"classified-ads-listings/listings-carousel"} /-->
<!-- wp:pattern {"slug":"classified-ads-listings/categories"} /-->
<!-- wp:pattern {"slug":"classified-ads-listings/latest-ads"} /-->
<!-- wp:pattern {"slug":"classified-ads-listings/key-numbers"} /-->
<!-- wp:pattern {"slug":"classified-ads-listings/pricing"} /-->
<!-- wp:pattern {"slug":"classified-ads-listings/locations"} /-->
<!-- wp:pattern {"slug":"classified-ads-listings/how-it-works"} /-->
<!-- wp:pattern {"slug":"classified-ads-listings/four-col-posts"} /-->
<!-- wp:template-part {"slug":"footer","tagName":"footer","align":"full","className":"site-footer"} /-->