<!-- wp:template-part {"slug":"header-transparent"} /-->
<!-- wp:pattern {"slug":"classifieds/hero-home-default"} /-->
<!-- wp:pattern {"slug":"classifieds/listings-carousel"} /-->
<!-- wp:pattern {"slug":"classifieds/categories"} /-->
<!-- wp:pattern {"slug":"classifieds/latest-ads"} /-->
<!-- wp:pattern {"slug":"classifieds/key-numbers"} /-->
<!-- wp:pattern {"slug":"classifieds/pricing"} /-->
<!-- wp:pattern {"slug":"classifieds/locations"} /-->
<!-- wp:pattern {"slug":"classifieds/how-it-works"} /-->
<!-- wp:pattern {"slug":"classifieds/four-col-posts"} /-->
<!-- wp:template-part {"slug":"footer","tagName":"footer","align":"full","className":"site-footer"} /-->