<!-- wp:pattern {"slug":"consulting/header-default"} /-->
<!-- wp:pattern {"slug":"consulting/hero-home-default"} /-->
<!-- wp:pattern {"slug":"consulting/proven-results"} /-->
<!-- wp:pattern {"slug":"consulting/take-action"} /-->
<!-- wp:pattern {"slug":"consulting/unleash-potential"} /-->
<!-- wp:pattern {"slug":"consulting/testimonials"} /-->
<!-- wp:pattern {"slug":"consulting/trusted-expertise"} /-->
<!-- wp:pattern {"slug":"consulting/three-col-posts"} /-->
<!-- wp:pattern {"slug":"consulting/hero-cta"} /-->
<!-- wp:pattern {"slug":"consulting/footer-default"} /-->